<h1>TET Tracking-GPS</h1>

<% if current_user %>

<%= link_to 'New Route', new_route_path %>

<%= link_to 'Routes', routes_path %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<% else %>

<%= link_to 'Sign up', new_user_registration_path %>

<%= link_to 'Sign in', new_user_session_path %>

<% end %>


<button id="location-button">Get User Location</button>
<div id="output"></div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script>
	
	$('#location-button').click(function(){

		if (navigator.geolocation)
			navigator.geolocation.getCurrentPosition(function(position){
				console.log(position);
			});
		else
			console.log("Geolocation is not suppored");
	});

</script>