<h1>TET Tracking-GPS</h1>

<% if current_user %>

<%= link_to 'New Route', new_route_path %>

<%= link_to 'Routes', routes_path %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<% else %>

<%= link_to 'Sign up', new_user_registration_path %>

<%= link_to 'Sign in', new_user_session_path %>

<% end %>

<script type="text/javascript">

    function showPosition(){

        if(navigator.geolocation){

            navigator.geolocation.getCurrentPosition(function(position){

                var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";

                document.getElementById("result").innerHTML = positionInfo;

            });

        } else{

            alert("Sorry, your browser does not support HTML5 geolocation.");

        }

    }

</script>



    <div id="result">

        <!--Position information will be inserted here-->

    </div>

    <button type="button" onclick="showPosition();">Show Position</button>