<h1>TET Tracking-GPS</h1>

<% if current_user %>

<%= link_to 'New Route', new_route_path %>

<%= link_to 'Routes', routes_path %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<% else %>

<%= link_to 'Sign up', new_user_registration_path %>

<%= link_to 'Sign in', new_user_session_path %>

<% end %>

<!-- HTML5 GeoLocation-->

<br>
<br>

<button onclick="getLocation()">Start Route Recording</button>

Coordinates: <input type="text" id="coordinates"><br>

<script>
var x = document.getElementById("coordinates");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude;
}
</script>