  <header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">TET Tracking-GPS</h3>
    <nav class="nav nav-masthead justify-content-center">

         <% if current_user %>

        <!--<a class="nav-link active" href="#">New Route</a>-->
		<%= link_to 'New Route', new_route_path, :class => "nav-link" %>

		<!--<a class="nav-link" href="#">Routes</a>-->
		<%= link_to 'Routes', routes_path, :class => "nav-link" %>

		<!--<a class="nav-link" href="#">Sign out</a>-->
		<%= link_to 'Sign out', destroy_user_session_path, :class => "nav-link", method: :delete %>

		<% else %>

		<!--<a class="nav-link" href="#">Sign up</a>-->
		<%= link_to 'Sign up', new_user_registration_path, :class => "nav-link" %>

		<!--<a class="nav-link" href="#">Sign in</a>-->
		<%= link_to 'Sign in', new_user_session_path, :class => "nav-link" %>

		<% end %>

    </nav>
  </div>
</header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to TET Tracking-GPS.</h1>
    <!--<p class="lead"> Tracking-gps in real-time, record your routes and save them but remember, they are not only routes, they are your trips.</p>-->

    <% if current_user %>

    	<%= link_to 'New Route', new_route_path, :class => "btn btn-lg btn-secondary" %>

		<!--<a class="nav-link" href="#">Routes</a>-->
		<%= link_to 'Routes', routes_path, :class => "btn btn-lg btn-secondary" %>

		<%= link_to 'Sign out', destroy_user_session_path, :class => "btn btn-lg btn-secondary", method: :delete %>

    <% else %>

    <p class="lead">
    	<%= link_to 'Sign in', new_user_session_path, :class => "btn btn-lg btn-secondary" %>
      <!--<a href="#" class="btn btn-lg btn-secondary">Sign in</a>-->
    </p>
    <p class="lead">
		<%= link_to 'Sign up', new_user_registration_path, :class => "btn btn-lg btn-secondary" %>
      <!--<a href="#" class="btn btn-lg btn-secondary">Sign in</a>-->
    </p>

    <% end %>

  </main>



<!-- Geolocation (Leaflet) -->

<!--

<style type="text/css">
	
	#mapid { height: 300px; width: 50%; }

	#mapid2 { height: 300px; width: 50%; }

</style>

<div id="mapid"></div>

<br>

<div id="mapid2"></div>

-->

<!-- 
Remember Dealing with events
https://leafletjs.com/examples/quick-start/
-->

<!--

<script type="text/javascript">

	var mymap = L.map('mapid').setView([51.505, -0.09], 13);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	    maxZoom: 18,
	    id: 'mapbox.streets',
	    accessToken: 'pk.eyJ1IjoibW9udG9ydXdhbGtyIiwiYSI6ImNqcnhtdTcwYzBwNno0M210bnFyemRtcmcifQ.YIy7MO-M8Hgf61hkqxCl1Q'
	}).addTo(mymap);

	var marker = L.marker([51.5, -0.09]).addTo(mymap);

	var circle = L.circle([51.508, -0.11], {
	    color: 'red',
	    fillColor: '#f03',
	    fillOpacity: 0.5,
	    radius: 500
	}).addTo(mymap);

	var polygon = L.polygon([
	    [51.509, -0.08],
	    [51.503, -0.06],
	    [51.51, -0.047]
	]).addTo(mymap);

	marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
	circle.bindPopup("I am a circle.");
	polygon.bindPopup("I am a polygon.");

	var popup = L.popup()
    .setLatLng([51.5, -0.09])
    .setContent("I am a standalone popup.")
    .openOn(mymap);

</script>


<script type="text/javascript">

	var mymap2 = L.map('mapid2').setView([51.505, -0.09], 13);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
	    maxZoom: 18,
	    id: 'mapbox.streets',
	    accessToken: 'pk.eyJ1IjoibW9udG9ydXdhbGtyIiwiYSI6ImNqcnhtdTcwYzBwNno0M210bnFyemRtcmcifQ.YIy7MO-M8Hgf61hkqxCl1Q'
	}).addTo(mymap2);

	/* https://leafletjs.com/reference-1.4.0.html#polyline <addLatLng(<LatLng> latlng)> < getLatLngs > */

	/*var latlngs = [
	    [[45.51, -122.68],
	     [37.77, -122.43],
	     [34.04, -118.2]],
	    [[40.78, -73.91],
	     [41.83, -87.62],
	     [32.76, -96.72]]
	];*/


	// create a red polyline from an array of LatLng points
	var latlngs = [
	    [45.51, -122.68],
	    [37.77, -122.43],
	    [34.04, -118.2]
	];

	var polyline = L.polyline(latlngs, {color: 'red'}).addTo(mymap2);
	// zoom the map to the polyline
	mymap2.fitBounds(polyline.getBounds());

</script>


-->