<!--<script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->

<h1>TET Tracking-GPS</h1>

<% if current_user %>

<%= link_to 'New Route', new_route_path %>

<%= link_to 'Routes', routes_path %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

<% else %>

<%= link_to 'Sign up', new_user_registration_path %>

<%= link_to 'Sign in', new_user_session_path %>

<% end %>

<!-- Geolocalization -->

<!--

<button onclick="getLocation()">Record Route</button>

<button onclick="stopLocation()">Stop Record</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.watchPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
    console.log("Geolocation is not suppored");
  }
}
function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude +
  "<br>Longitude: " + position.coords.longitude;
  console.log(position);
}

function stopLocation() {
	var watchID;
	navigator.geolocation.clearWatch(watchID);
	    console.log("Finished Geolocation");

}

</script>

-->


<!-- https://gist.github.com/seanknox/4063362#file-index-html -->
<div style="width:800px; height:500px" id="map"></div>
<script type='text/javascript'>
  if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position){
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      });
      
      var map = L.map('map')
      L.tileLayer('http://{s}.tile.cloudmade.com/1cc75fcc8e2243d1b2f6aab1e5850be1/998/256/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18
      }).addTo(map);
      
      map.locate({setView: true, maxZoom: 16});
      function onLocationFound(e) {
        var radius = e.accuracy / 2;
        L.marker(e.latlng).addTo(map)
            .bindPopup("You are within " + radius + " meters from this point").openPopup();
        L.circle(e.latlng, radius).addTo(map);
      }
      map.on('locationfound', onLocationFound);
  }else {
      alert("Geolocation API is not supported in your browser. :(");
  }
</script>