<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<style type="text/css">
  .custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
.btn{
  margin:6px;
}
</style>

<div class="container">
    <!--<div class="row col-md-6 col-md-offset-2 custyle">-->
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Route Title</th>
            <th>User</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>

      <% @routes.each do |route| %>
        <tr>
          <td><%= route.title %></td>
          <td><%= route.user.username %></td>

          <td><%= link_to 'Show', route, :class=>"btn btn-success btn-xs" %><%= link_to 'Edit', edit_route_path(route), :class=>"btn btn-info btn-xs" %><%= link_to 'Delete', route, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-xs" %></td>

        </tr>
      <% end %>

    </table>
    <!--</div>-->
</div>


<br>

<%= link_to 'New Route', new_route_path, :class => "btn btn-lg btn-secondary" %>

<%= link_to 'Back', home_index_path, :class => "btn btn-lg btn-secondary" %>
