<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @route.coordinates %>
</p>

<p>
  <strong>User:</strong>
  <%= @route.user.username %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>

<script type="text/javascript">
	
	var tracking = '<%=@route.coordinates%>';
	console.log(tracking);

	var track = [[]]

	var positions = tracking.split(',');

   	for (var i=0; i < positions.length; i++) {
      console.log(positions[i]);
   	}

   	for (var i=0; i < positions.length-1; i=i+2) {
      track.push([positions[i], positions[i+1]]); 
   	}

   	console.log(track)

	//necesito que quede asi: [ [1,2],[3,4] ]

</script>