<p>
  <strong>Title:</strong>
  <%= @route.title %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @route.coordinates %>
</p>



<p>
  <strong>User:</strong>
  <%= @route.user.username %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>